### Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

### Code pour générer des fausses données

In [ ]:
def fake_matrix(nb_products = 6,
                nb_cust = 5,
                share_empty = 0.7):

    name_products = ["P"+str(x+1) for x in range(nb_products)]
    name_cust = ["cust_"+str(x+1) for x in range(nb_cust)]

    rand = np.random.rand(nb_cust,nb_products)
    empty = np.random.rand(nb_cust,nb_products)>share_empty

    fake_matrix = pd.DataFrame(rand*empty,
                               index=name_cust,
                               columns=name_products
                              )


    return fake_matrix

In [5]:
fake_data = fake_matrix(100, 100, 0.7)
display(fake_data)

,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,...,P91,P92,P93,P94,P95,P96,P97,P98,P99,P100
cust_1,0.882688,0.000000,0.528452,0.000000,0.000000,0.000000,0.000000,0.585046,0.418897,0.000000,...,0.000000,0.0,0.878150,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.560190
cust_2,0.000000,0.848427,0.000000,0.000000,0.000000,0.000000,0.938660,0.834843,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.964095,0.000000,0.930914,0.000000,0.448328,0.000000
cust_3,0.986556,0.000000,0.000000,0.257755,0.479760,0.000000,0.226173,0.000000,0.000000,0.000000,...,0.000000,0.0,0.513747,0.988213,0.298438,0.000000,0.000000,0.000000,0.000000,0.000000
cust_4,0.000000,0.972650,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.231613,0.395058,0.000000,0.154921,0.000000,0.000000,0.000000,0.000000
cust_5,0.000000,0.480712,0.046964,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.927708,0.0,0.000000,0.900231,0.518451,0.000000,0.938253,0.000000,0.284332,0.612579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
cust_96,0.450559,0.000000,0.000000,0.736386,0.000000,0.000000,0.037744,0.416294,0.000000,0.000000,...,0.999493,0.0,0.000000,0.000000,0.000000,0.449477,0.000000,0.000000,0.000000,0.000000
cust_97,0.000000,0.000000,0.000000,0.000000,0.794124,0.000000,0.342514,0.000000,0.000000,0.000000,...,0.074431,0.0,0.000000,0.033012,0.000000,0.819857,0.000000,0.513704,0.000000,0.713103
cust_98,0.000000,0.000000,0.000000,0.931093,0.000000,0.000000,0.442228,0.000000,0.000000,0.860059,...,0.160854,0.0,0.206300,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.849148
cust_99,0.000000,0.729063,0.000000,0.358785,0.000000,0.558851,0.000000,0.000000,0.623579,0.000000,...,0.000000,0.0,0.584526,0.000000,0.000000,0.000000,0.638769,0.000000,0.000000,0.000000
cust_100,0.000000,0.267366,0.185209,0.430260,0.801367,0.000000,0.000000,0.000000,0.146084,0.797894,...,0.000000,0.0,0.490666,0.000000,0.000000,0.000000,0.000000,0.094142,0.000000,0.000000

### Chargement des données

In [8]:
orders_scoring = pd.read_json("../raw_data/order_scoring.json",lines=True)

In [9]:
orders_scoring

                          customer_id  LO        sku
0        h6IvomPZxOTKuKGuvS8b3nZrzVk2   1  1-CTR-103
1        h6IvomPZxOTKuKGuvS8b3nZrzVk2   1  2-END-103
2        h6IvomPZxOTKuKGuvS8b3nZrzVk2   1  1-LIM-136
3        h6IvomPZxOTKuKGuvS8b3nZrzVk2   1  1-ECM-114
4        h6IvomPZxOTKuKGuvS8b3nZrzVk2   1  6-VDG-101
...                               ...  ..        ...
3995333                 1193650815036   4  1-PUK-109
3995334                 1193650815036   4  4-LAV-105
3995335                 1193650815036   4  4-ALO-102
3995336                 1193650815036   4  1-PUK-104
3995337                 1193650815036   4  1-FAV-101

[3995338 rows x 3 columns]

In [10]:
orders_1 = pd.read_json("../raw_data/orders.json", lines=True)
orders_1

,name,created_at,financial_status,total_price,savings,nb_parcels,customer_id,order_rank,line_items
0,#200370,2021-03-01 16:09:27+00:00,paid,154.03,45.68,2,2116029874236,17,"[{'sku': '1-FPM-121', 'quantity': '1', 'price_..."
1,#299328,2021-08-18 21:15:10+00:00,paid,101.06,35.06,1,3412749648007,10,"[{'sku': '1-FPM-101', 'quantity': '1', 'price_..."
2,#375203,2021-12-07 23:09:22+00:00,paid,113.92,32.17,1,3573624242311,2,"[{'sku': '1-CYO-135', 'quantity': '1', 'price_..."
3,#105096,2020-07-24 18:15:50+00:00,paid,134.45,39.98,2,3564831113351,1,"[{'sku': '2-THD-179', 'quantity': '1', 'price_..."
4,#508446,2022-05-28 09:52:40+00:00,paid,151.16,43.09,2,3571716325511,30,"[{'sku': '6-TYM-101', 'quantity': '1', 'price_..."
...,...,...,...,...,...,...,...,...,...
574588,#74169,2020-04-25 13:49:18+00:00,paid,85.93,50.50,1,2004046315580,17,"[{'sku': '4-JDT-102', 'quantity': '1', 'price_..."
574589,#78971,2020-05-06 14:30:07+00:00,paid,65.97,39.42,1,3092261470343,6,"[{'sku': '1-EAJ-101', 'quantity': '1', 'price_..."
574590,#73481,2020-04-23 20:03:08+00:00,paid,110.97,62.26,1,2909843030151,5,"[{'sku': '3-CHC-102', 'quantity': '1', 'price_..."
574591,#83244,2020-05-17 10:04:23+00:00,paid,96.85,62.24,1,1243139801148,7,"[{'sku': '1-ACV-109', 'quantity': '1', 'price_..."
574592,#82490,2020-05-15 07:22:09+00:00,paid,75.44,36.72,1,1911202512956,12,"[{'sku': '1-JDZ-106', 'quantity': '1', 'price_..."

In [11]:
orders_2 = pd.read_json("../raw_data/orders (2).json", lines=True)
orders_2

,customer_id,name,creted_at,order_rank,f0_,quantity
0,lwxmqiJcKBZ0xJMMAUR4hDZqRwB2,#399072,2022-01-14,2,6-TOD-102,1
1,Ih4dgmNPspRJwx9FvR0xmVzpOtG3,#547783,2022-07-11,13,1-DZX-101,1
2,Ih4dgmNPspRJwx9FvR0xmVzpOtG3,#547783,2022-07-11,13,1-CPL-188,1
3,Ih4dgmNPspRJwx9FvR0xmVzpOtG3,#547783,2022-07-11,13,1-TLX-106,1
4,Ih4dgmNPspRJwx9FvR0xmVzpOtG3,#547783,2022-07-11,13,8-KCX-105,1
...,...,...,...,...,...,...
3879016,9R9ZaQxJ6VaS5jZSYjqZqIELeW42,000608597,2022-08-24,89,6-TYM-101,1
3879017,9R9ZaQxJ6VaS5jZSYjqZqIELeW42,000608597,2022-08-24,89,1-CYO-103,1
3879018,9R9ZaQxJ6VaS5jZSYjqZqIELeW42,000608597,2022-08-24,89,1-CYO-145,1
3879019,9R9ZaQxJ6VaS5jZSYjqZqIELeW42,000608597,2022-08-24,89,6-AMH-102,1
3879020,9R9ZaQxJ6VaS5jZSYjqZqIELeW42,000608597,2022-08-24,89,6-WOV-101,1

In [73]:
all_customers = orders_scoring['customer_id'].unique()
all_customers

array(['h6IvomPZxOTKuKGuvS8b3nZrzVk2', 'YbOXZl2uGmXPK15JaHha1HibKRo1',
       '3593395765383', ..., '1140328300604', '690516656188',
       '1290358063164'], dtype=object)

In [77]:
all_skus = orders_scoring['sku'].unique()
all_skus
len(all_skus)

7503

### Test scikit-surprise

In [13]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit-surprise-1.1.2.tar.gz (770 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 771.0/771.0 kB 12.7 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /Users/matthieu/.pyenv/versions/3.10.4/envs/reco_fourche/lib/python3.10/site-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/matthieu/.pyenv/versions/3.10.4/envs/reco_fourche/lib/python3.10/site-packages (from scikit-surprise) (1.23.3)
Requirement already satisfied: scipy>=1.3.2 in /Users/matthieu/.pyenv/versions/3.10.4/envs/reco_fourche/lib/python3.10/site-packages (from scikit-surprise) (1.9.1)
Using legacy 'setup.py install' for scikit-surprise, since package 'wheel' is not installed.
Installing collected packages: scikit-surprise
  Running setup.py install for scikit-surprise ... done
Successfully installed scikit-surprise-1.1.2

In [50]:
# Imports
from surprise import Reader, Dataset, SVD, NMF
from surprise.model_selection import cross_validate, train_test_split
from surprise.accuracy import rmse, mae

Exemple https://towardsdatascience.com/various-implementations-of-collaborative-filtering-100385c6dfe0

Doc scikit-surprise https://surprise.readthedocs.io/en/stable/getting_started.html#load-from-df-example

In [41]:
# On crée un Reader de scikit-surprise
reader = Reader(rating_scale=(1, 5))

In [42]:
# On transforme les données des commandes au format que surprise veut
# -> 3 colonnes: colonne 1, le customer, colonne 2, l'item, colonne 3, la note
data = Dataset.load_from_df(orders_scoring[['customer_id', 'sku', 'LO']], reader)

In [26]:
data

## SVD

In [44]:
# On crée un modèle SVD
model = SVD()

In [28]:
# J'essaie de cross-validate, pour voir le score du modèle sans aucune optimisation
%%time
cross_validate(model, data, measures=['RMSE'], cv=5, verbose=True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.0469  1.0460  1.0456  1.0455  1.0461  1.0460  0.0005
Fit time          44.02   46.16   47.98   46.57   48.55   46.66   1.58
Test time         24.26   23.53   20.80   18.49   24.76   22.37   2.37

{'test_rmse': array([1.04691255, 1.04603577, 1.04563922, 1.045507  , 1.04614508]),
 'fit_time': (44.02303385734558,
  46.15600609779358,
  47.98458790779114,
  46.57241606712341,
  48.55192303657532),
 'test_time': (24.257936000823975,
  23.52944803237915,
  20.80200695991516,
  18.489617824554443,
  24.755368947982788)}

In [45]:
# On va faire un training à la main.
# On sépare train et test set
trainset, testset = train_test_split(data, test_size=0.25)

In [46]:
# On fit le model
model.fit(trainset)

In [48]:
# On fait des prédictions
predictions = model.test(testset)

In [49]:
# Résultat
rmse(predictions)

RMSE: 1.0471

1.0470527578766422

In [51]:
mae(predictions)

MAE:  0.8827

0.8826748494964094

In [69]:
# On peut faire des prédictions de score, pour un customer et un produit au hasard
# .est -> renvoie le score attendu
model.predict('h6IvomPZxOTKuKGuvS8b3nZrzVk2', '4-LAV-105')

Prediction(uid='h6IvomPZxOTKuKGuvS8b3nZrzVk2', iid='4-LAV-105', r_ui=None, est=2.6032837751339057, details={'was_impossible': False})

In [68]:
model.predict('1193650815036', '1-FAV-101')

Prediction(uid='1193650815036', iid='1-FAV-101', r_ui=None, est=2.9507458672665665, details={'was_impossible': False})

In [82]:
# Est-ce qu'on peut prédire l'item qui aura la meilleur note ?
# Il faut appeler model.predict() sur tous les items, et choisir les meilleurs notes
customer_id = 'h6IvomPZxOTKuKGuvS8b3nZrzVk2'  # On choisit un customer
scores_for_customer = all_skus.copy()
scores_for_customer

array(['1-CTR-103', '2-END-103', '1-LIM-136', ..., '1-COQ-118',
       '1-SAV-115', '4-AVI-178'], dtype=object)

In [ ]:
df_customer = pd.DataFrame(scores_for_customer)